body{
    background-color: #08003B;
    height: 100vh;
    overflow-x: hidden;
    
    
}
header{
    margin: 0;
    height: 100vh;
    padding: 0;
    background-image: url(/images/WhatsApp\ Image\ 2024-08-09\ at\ 14.58.44_776477bf.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    animation: change 20s infinite ease-in-out;
}
@keyframes change{
    0%
    {
        background-image: url(/images/WhatsApp\ Image\ 2024-08-09\ at\ 14.58.44_776477bf.jpg);
    }
    20%
    {
        background-image: url(/images/brain.webp);
    }
    40%
    {
        background-image: url(/images/peter.webp);
    }
    60%
    {
        background-image: url(/images/faint.webp);
    }
    80%
    {
        background-image: url(/images/bg.webp);
    }
    100%
    {
        background-image: url(/images/7.webp);
    }
}


.list{
    display: flex;
    gap: 40px;
    list-style-type: none;
    color: white;
    font: bold;
    font-family: 'Clash Display', sans-serif;
    
}
.border{
    height: 89%;
}
#num{
    font-size: 60px;
    color: #EE2F5B;
    text-align: center;
    padding-top: 30px;
    font-family: 'Clash Display', sans-serif;
}
#lie{
    font-size: 15px;
    color: white;
    text-align: center;
    font-family: 'Clash Display', sans-serif;
}
#card{
    font-size: 60px;
    color: #EE2F5B;
    text-align: center;
    padding-top: 30px;
    font-family: 'Clash Display', sans-serif;
}
#perfect{
    font-size: 15px;
    color: white;
    text-align: center;
    font-family: 'Clash Display', sans-serif;
}
.second{
    height: 27vh;
    margin-left: px;
}
.last{
    height: 27vh;
    margin-left: px;
}
#gift{
    font-size: 60px;
    color: #EE2F5B;
    text-align: center;
    padding-top: 30px;
    font-family: 'Clash Display', sans-serif;
}
#slid{
    font-size: 15px;
    color: white;
    text-align: center;
    font-family: 'Clash Display', sans-serif; 
}
.third{
    height: 27vh;
    margin-left: px;
}
#nice{
    font-size: 60px;
    color: #EE2F5B;
    text-align: center;
    padding-top: 30px;
    font-family: 'Clash Display', sans-serif;
}
#hard{
    font-size: 15px;
    color: white;
    text-align: center;
    font-family: 'Clash Display', sans-serif; 
}
.great{
    margin-top: 30px;
}
.special{
    color: darkorange;
}
.on{
    margin-top: 80px;
}
.dat{
    margin-top: px;
}
.middle{
    text-align: center;

}
#one{
    font-size: 130px;
    font-family: 'Clash Display', sans-serif;
    color: white;
    font: bold;
}
#two{
    font-size: 110px;
    font-family: 'Clash Display', sans-serif;
    color: white;
    font: bold;
    margin-top: -50px;
}
#glad{
    font-size: 17px;
    color: white;
    margin-top: -10px;
    font: bold;
    font-family: 'Clash Display', sans-serif;
}
#four{
    font-size: 21px;
    color: white;
}
.button{
    margin-left: 30%
}
#star a.text-completed::after,.text-completed::before{
    content: "BUY TICKET";
    position: absolute;
    align-items: center;
    justify-content: center;
    color: #ffff;
    left: 0;
    width: 100%;
    line-height:50px;
    text-transform: capitalize;
    transition: all 400ms;
}
#star .text-completed::before{
    content: "REGISTER";
    left: 190px;
    background: linear-gradient(to right #df2771,#fb4c37);
}
#star a.text-completed:hover::after{
    left:-170px;
    background: linear-gradient(to right #fb4c37, #df2771);
}
#star .text-completed:hover::before{
    left: 0;
}
#star a{
    display: flex;
    overflow: hidden;
    width: 160px;
    height: 42px;
    position: relative;
}
#star{
    height: 50px;
    width: 60%;
    display: flex;
    overflow: hidden;
    border: none;
    position: relative;
    padding: 30px;
    align-items: center;
    justify-content: center;
    background-color: #fb4c37 ;
}


#but{
    height: 50px;
    width: 160px;
    border-color: rgb(12, 12, 44);
    background-color: transparent;
    color: white;
    font-family: 'Clash Display', sans-serif;
    border: 1px solid rgb(12, 12, 44);
    margin-left: auto;
}
#hot{
    height: 50px;
    width: 120px;
    border-color: rgb(12, 12, 44);
    background-color: transparent;
    color: white;
    border: none;
    outline: none;
    font-size: 18px;
    font-family: 'Clash Display', sans-serif;
}
.in{
    font-size: 30px;
    color: white;
    height: 50px; 
    width: 50px; 
    border-radius: 50%; 
    border: 1px solid rgb(12, 12, 44);
}
#hot{
    color: white;
}
#about{
    margin-top: 190px;
}
#hh{
    font-size: 15px;
    color: #EE2F5B;
    font-family: 'Clash Display', sans-serif;
    display: flex;
    
}
#paragraph{
    font-size: 21px;
    color: #EE2F5B;
    font-family: 'Clash Display', sans-serif;
    display: flex;
    gap: 8px;
    margin-top: 60%;
    
}
.live{
    margin-top: 30px;
}
#she{
    font-size: 13px;
}
.them{
    border: 1px solid white;
    width: 39%;
    height: 16%;
    text-align: center;
    padding-top: 20px;
    background-color: #df2771;
    margin-top: 58px;
    margin-left: -49px;
}
.exhibit-section {
    background-color: var(--indigo);
    padding-top: 80px;
    padding-bottom: 40px;
}
.exhibit-slide {
    margin-top: 240px;
}
.exhibit-slide .bi-arrow-right {
    font-size: 85px;
    color: #EE2F5B;
}
.exhibit {
    font-family: 'ClashDisplay-Bold', Arial, sans-serif;
    color: white;
    font-size: 60px;
    
}
.exhibit-img {
    display: block;
    width: 100%;
    height: 120%;
    left: 0%;
}

.exhibit-img:hover {
    filter: brightness(60%);
    width: 101%;
}
.carousel-control-prev-icon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--pink);
}
.carousel-control-next-icon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--pink);
}
.speaker-section {
    background-color: var(--indigo);
    padding-top: 90px;
}
.some {
    color: var(--pink);
    font-size: 18px;
    letter-spacing: 7px;
    padding-top: 0;
    margin-top: 0;
}
.previous {
    font-family: 'ClashDisplay-Bold', Arial, sans-serif;
    color: var(--white);
    font-size: 55px;
}
.stage {
    color: var(--white);
    font-size: 16px;
    width: 70vw;
    margin: 0 auto;
    margin-bottom: 45px;
}
.silver a.gold::after,.gold::before{
    content: "READ MORE";
    position: absolute;
    align-items: center;
    justify-content: center;
    color: #ffff;
    left: 0;
    width: 100%;
    line-height:50px;
    text-transform: capitalize;
    transition: all 400ms;
    background-color: transparent;
}
.silver .gold::before{
    content: "READ MORE";
    left: 190px;
    width: 100%;
}
.silver a.gold:hover::after{
    left:-170px;
    background: linear-gradient(to right #fb4c37, #df2771);
    
}
.silver .gold:hover::before{
    left: 0;
}
.silver a{
    display: flex;
    overflow: hidden;
    width: 160px;
    height: 42px;
    position: relative;
}
.silver{
    height: 50px;
    width: 37%;
    display: flex;
    overflow: hidden;
    border: 1px solid white;
    position: relative;
    padding: 30px;
    align-items: center;
    justify-content: center;
    background-color: transparent;
   
    
}
.silver:hover{
    height: 50px;
    width: 37%;
    display: flex;
    overflow: hidden;
    border: 1px solid white;
    position: relative;
    padding: 30px;
    align-items: center;
    justify-content: center;
    background-color: #EE2F5B;
    background: linear-gradient(to right #fb4c37, #df2771);
   
    
}

.sun{
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-left: 30%;
}
label span .bi-list{
    color: white;
    font-size: 30px;
    line-height: 40px;
    display: none;
}
.bull i{
    font-size: 30px;
    color: white;
}
#check{
    display: none;
}
.peace{
    margin-top: 7%;
}
#h1{
    font-size: 17px;
    font-family: 'Clash Display', sans-serif;
    color: #EE2F5B;
    display: flex;
}
#game{
    font-size: 57px;
    font-family: 'Clash Display', sans-serif;
    color: white;
}
#style{
    color: white;
    font-family: 'Clash Display', sans-serif;
}
.bed{
   border: 4px solid #EE2F5B;
    position: absolute;
    height: 96%;
    right: -50px;
    width: 90%;
    border-radius: 8px;
    margin-top: 20%;
}
#lit{
    position: relative;
    left: -70px;
    height: 100%;
    width: 105%;
    margin-top: 30px;
}
#git{
    color: white;

}
.gem{
    display: flex; 
    align-items: center;
    text-align: center;
}
.sin{
    margin-top: 60px;
}
#pass{
    font-size: 49px;
    color: white;
    font-family: 'Clash Display', sans-serif;
}
#rap{
    font-size: 17px;
    color: white;
    font-family: 'Clash Display', sans-serif;
}
.th{
    border: 1px solid white;
    width: 43%;
    height: 20%;
    text-align: center;
    margin-left: 73%;
    background-color: #101010;
    margin-top: 100%;
}
#sir{
    font-size: 24px;
    font-family: 'Clash Display', sans-serif;
    color: white;
}

.pic-two{
    margin-top: 20px;
    
}
#tin{
    font-size: 16px;
    color: white;
    font-family: 'Clash Display', sans-serif;
}
#the{
    font-size: 19px;
    color: #EE2F5B;
}
.bend{
    position: absolute;
    border: 4px solid #EE2F5B;
    margin-top: 21%;
    width: 88%;
    left: 8%;
    height: 92%;
    border-radius: 10px;
}
.can{
    margin-top: -31%;
}
.img-2{
    position: relative;
    margin-top: 0px;
}
.those{
    border: 1px solid white;
    width: 43%;
    height: 15%;
    text-align: center;
    margin-left: 61%;
    background-color: #101010;
    margin-top: 66%;
    margin-top: 130%;
}
.img-3{
    position: absolute;
    border: 4px solid #EE2F5B;
    margin-top: 45%;
    width: 88%;
    left: 8%;
    height: 74%;
    border-radius: 10px;
}
#lin{
    position: relative;
    height: 103%;
    width: 98%;
    margin-top: 20px;
    right: 7%;
}
#up{
    position: relative;
    height: 102%;
    width: 98%;
    margin-top: 40px;
    right: 7%;
}
#red{
    display: flex;
    font-size: 16px;
    font-family:  'Clash Display', sans-serif;
    gap: 10px;
    color: #df2771;
}
#y{
    font-size: 60px;
    font-family:  'Clash Display', sans-serif;
    color: white;
}
#alive{
    position: relative;
    top: 70%;
}
#plus{
    height: 20px;
}
.pic-two {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}
.pic-two i{
    position: absolute;
    font-size: 38px;
    color: #ffff;
}
.are a.learn::after,.learn::before{
    content: "SPONSOR";
    position: absolute;
    align-items: center;
    justify-content: center;
    color: #ffff;
    left: 0;
    width: 100%;
    line-height:50px;
    text-transform: capitalize;
    transition: all 400ms;
    background-color: transparent;
}
.are .learn::before{
    content: "SPONSOR";
    left: 190px;
    background-color: #EE2F5B;
    width: 100%;
}
.are a.learn:hover::after{
    left:-170px;
    background: linear-gradient(to right #fb4c37, #df2771);
    
}
.are .learn:hover::before{
    left: 0;
}
.are a{
    display: flex;
    overflow: hidden;
    width: 160px;
    height: 42px;
    position: relative;
}
.are{
    height: 50px;
    width: 37%;
    display: flex;
    overflow: hidden;
    border: 1px solid white;
    position: relative;
    padding: 30px;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}
.are:hover{
    height: 50px;
    width: 37%;
    display: flex;
    overflow: hidden;
    border: 1px solid white;
    position: relative;
    padding: 30px;
    align-items: center;
    justify-content: center;
    background-color: #EE2F5B;
    background: linear-gradient(to right #fb4c37, #df2771);
}
.say{
    margin-top: 16px;
}
#hh{
    gap: 10px;
}
.import{
    margin-top: 14%;
}
#git{
    font-size: 68px;
    font-family: 'Clash Display', sans-serif;
}

.vip{
    margin-top: 60px;
}
#speakers{
    color: #EE2F5B;
    font-family: 'clash Display', sans-serif;
    text-align: center;
    justify-content: space-between;
}
#speak{
    color: white;
    font-size: 55px;
    font-family: 'clash Display', sans-serif;
    text-align: center;
}
#phase{
    color: white;
    text-align: center;

}
#speaker-img:hover {
    filter: brightness(60%);
    width: 101%;
}
.ing{
    height: 150%;
}
#get-your{
    color: white;
    font-size: 55px;
    font-family: 'clash Display', sans-serif;
    text-align: center;
}
#ticket-phase{
    color: white;
    text-align: center;
}
#tick{
    font-size: 18px;
    color: #EE2F5B;
    text-align: center;
    font-family: 'clash Display', sans-serif;

}
.categorie{
    margin-top: 10%;
}
.border-pink{
    text-align: center;
    padding-top: 20px;
}

.border-pink:hover{
    border-color:  #EE2F5B;
    transition: 0.5s;
    box-shadow: 5px 5px 5px 5px #EE2F5B inset;
}
#font{
    font-size: 28px;
    color: white;
}
.base{
    color: white;
    font-size: 35px;
    font-family: 'clash Display', sans-serif;

}
#butt{
    margin-top: 25%;
    height: 45px;
    width: 50%;
    border-radius: 20px;
    background-color: transparent;
    color: white;
    border-color: white;
    margin-bottom: 18px;
}
#butt:hover{
    height: 60px;
}
#buy-my:hover{
    height: 60px;
}
.border-pink{
    border: 1px solid #df2771;
    height: 10%;
    margin-top: 9%;
}
.basic{
    color: white;
    margin: -4px;
}
#x{
    font-size: 28px;
    color: darkred;
}
#moni{
    color: #df2771;
    font-family: 'clash Display', sans-serif;
    font-size: 40px;
}

#buy-my{
    margin-top: 45%;
    padding-bottom: 10px;
    height: 45px;
    width: 50%;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    border-color: white;
    margin-bottom: 18px;
}
#footer{
    margin-top: 80px;
    background-image: url(/img/WhatsApp\ Image\ 2024-08-12\ at\ 4.41.31\ PM.jpeg);
    background-size: cover;
    overflow: hidden;
    padding-top: 50px;
    padding-bottom: 50px;
    height: 100%;
    max-width:1890px;
    margin: auto;
    margin-top: 60px;
    opacity: 0.7;
}
#footer img{
    height: 170px;
}
.contact {
    padding-left: 23px;
}
.contact p{
    color: #ffff;
    margin-top: -27px;
    font-size: 17px;
}
.contact span a{
    color: #ffff;
}
.contact span{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    height: 35px;
    width: 35px;
    margin-top: 20px;
    border: 1px solid #ffff;
    transition: 0.3s;
   
}
.contact span:hover{
    background-color: #e9335f;
    color: #ffff;
    border: none;
    font-weight: bold;
}
.about h3{
    color: #ffff;
    font-family: myfont;
    font-weight: bold;
    margin-bottom: 23px;
}
.about ul{
    display: block;
}
.about ul li{
    display: flex;
    align-self: center;
    justify-content: center;
    list-style: none;
    padding: 3px;
    text-align: center;
    font-size: larger;
}
.about ul li a{
    text-decoration: none;
    color: #ffff;
    width: 100%;
}
.about ul li a:hover{
    text-decoration: none;
    color:red;
}
.new h6{
    color: #ffff;
    font-size: x-large;
    font-family: myfont;
    font-weight: bolder;
}
.new p{
    color: #ffff;
}
input{
    width: 80%;
    height: 57px;
    border-radius: 50px;
    border: 1px solid #352d57;
    background-color: transparent;
    padding-left: 20px;
}
.subscribe button{
    width: 80%;
    height: 60px;
    margin-top: 10px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background:linear-gradient(#fc4d36,#e22b6b);
}
.subscribe button a{
    text-decoration: none;
    color: #ffff;
    font-family: myfont;
}

@media (max-width: 996px){
    body{
        overflow-x: hidden;
        height: 161vh                                                                                                                               ;
    }
    #glad{
        font-size: 17px;
        margin-top: 1px;
    }
    #one{
        font-size: 65px;
        margin-top: -20px;
        font-family: 'Clash Display', sans-serif;
    }
    
    #two{
        font-size: 60px;
        margin-top: -20px;
    }
    #four{
        font-size: 13px;
    }
    .smfest{
        margin-top: -90px;
    }
    .sun{
        text-align: center;
        padding-right: 40%;
    }
    #pic{
        margin-top: -23px;
    }
    .gem{
      text-align: center;
    }
   .gem{
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
   }
   .bed{
    left: 0;
   }
   .gap{
    margin-top: 38px;
    margin-left: 128px;
   }
    .in{
        height: 45px;
        width: 45px;
        border-radius: 50%;
        padding: 0;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    #but{
      margin-right: auto;
    }
    .on{
        margin-left: -138px;
        margin-top: -1px;
        padding-top: 48px;

    }
    #num{
        font-size: 40px;
    }
    .second{
        margin-top: 14px;
    }
    .border{
        height: 25vh;
    }
    #gift{
        font-size: 40px;
    }#card{
        font-size: 40px; 
    }
    #nice{
        font-size: 40px;
    }
    #about{
        margin-top: 40px;
        text-align: start;
        
    }
    .can{
        margin-top: -103%;
    }
    
    .bed{
        border: 4px solid #EE2F5B;
        height: 60vh;
        left: 10px;
        width: 93%;
        border-radius: 10px;
        margin-top: 110px;
        overflow-x: hidden;
        position: absolute;
     }
     #lit{
         position: relative;
         left: -15px;
         height: 369px;
         width: 302px;
         margin-top: 13px;
     }
     #h1{
        font-size: 12px;
        font-family: 'Clash Display', sans-serif;
        color: #EE2F5B;
        display: flex;
    }
    #game{
        font-size: 36px;
        font-family: 'Clash Display', sans-serif;
        color: white;
    }
    .th{
        border: 1px solid white;
        width: 85%;
        height: 20%;
        text-align: center;
        margin-left: 20%;
        background-color: #101010;
        margin-top: 152%;

    }
    #style{
        font-size: 13px;
        color: white;
        right: 200%;
        font-family: 'Clash Display', sans-serif;

    }
    .bend{
        position: absolute;
        border: 4px solid #EE2F5B;
        margin-top: -50%;
        width: 106%;
        height: 280%;
        border-radius: 10px;
        margin-left: -14px;
    }
    #red{
        margin-top: 80%;
    }
    #up{
        position: relative;
        width: 108%;
        height: 107%;
        margin-top: -1px;
        right: 10%;
        padding-top: 8px;
        
    }
    #red{
        display: flex;
        font-size: 13px;
        font-family:  'Clash Display', sans-serif;
        gap: 10px;
        color: #df2771;
        margin-top: 88%;
    }
    #y{
        font-size: 28px;
        font-family:  'Clash Display', sans-serif;
        color: white;
        display: flex;
    }
    #enter{
        font-size: 13px;
        font-family:  'Clash Display', sans-serif;
    }
    #plus{
        color: white;
        height: 60px;
    }
    #alive{
        position: relative;
        top: 70%;
    }
    #sir{
        font-size: 19px;
        font-family: 'Clash Display', sans-serif;
        color: white;
    }
    #tin{
        font-size: 12px;
        color: white;
        font-family: 'Clash Display', sans-serif;
        padding-left: 20px;
        
    }
    #sir{
        padding-left: 20px;
    }
    .pic-two i{
        font-size: 35px;
    }
    .silver a.gold::after,.gold::before{
        content: "READ MORE";
        position: absolute;
        align-items: center;
        justify-content: center;
        color: #ffff;
        left: 0;
        width: 100%;
        line-height:50px;
        text-transform: capitalize;
        transition: all 400ms;
        background-color: transparent;
    }
    .silver .gold::before{
        content: "READ MORE";
        left: 190px;
        background-color: #EE2F5B;
        width: 100%;
    }
    .silver a.gold:hover::after{
        left:-170px;
        background: linear-gradient(to right #fb4c37, #df2771);
        
    }
    .silver .gold:hover::before{
        left: 0;
    }
    .silver a{
        display: flex;
        overflow: hidden;
        width: 160px;
        height: 42px;
        position: relative;
    }
    .silver{
        height: 50px;
        width: 57%;
        display: flex;
        overflow: hidden;
        border: 1px solid white;
        position: relative;
        padding: 30px;
        align-items: center;
        justify-content: center;
        background-color: transparent;
       
        
    }
    .are a.learn::after,.learn::before{
        content: "SPONSOR";
        position: absolute;
        align-items: center;
        justify-content: center;
        color: #ffff;
        left: 0;
        width: 100%;
        line-height:50px;
        text-transform: capitalize;
        transition: all 400ms;
        background-color: transparent;
    }
    .are .learn::before{
        content: "SPONSOR";
        left: 190px;
        background-color: #EE2F5B;
        width: 100%;
    }
    .are a.learn:hover::after{
        left:-170px;
        background: linear-gradient(to right #fb4c37, #df2771);
        
        
    }
    .are .learn:hover::before{
        left: 0;
    }
    .are a{
        display: flex;
        overflow: hidden;
        width: 160px;
        height: 42px;
        position: relative;
    }
    .are{
        height: 50px;
        width: 89%;
        display: flex;
        overflow: hidden;
        border: 1px solid white;
        position: relative;
        margin-top: 20px;
        padding: 30px;
        align-items: center;
        justify-content: center;
        background-color: transparent;        
    }
    .them{
        border: 1px solid white;
        width: 93%;
        height: 60%;
        padding-top: 0px;
        background-color: #df2771;
        top: -240px;
        margin-left: -10px;
        left: -25px;
    }
    .live{
        margin-top: -60%;
    }
    #lin{
        position: relative;
         left: -15px;
         height: 369px;
         width: 302px;
         margin-top: 13px;
    }
    .img-2{
        margin-top: 50%;
    }
    .img-3{
        border: 4px solid #EE2F5B;
        height: 60vh;
        left: 10px;
        width: 93%;
        border-radius: 10px;
        margin-top: 10px;
        position: absolute;
    }
    #about{     
        text-align: start;
    }
    #git{
        font-size: 58px;
        font-family: 'Clash Display', sans-serif;
    }
    .those{
        border: 1px solid white;
        width: 93%;
        height: 8%;
        text-align: center;
        margin-left: 12%;
        background-color: #101010;
        margin-top: 120%;
        padding-bottom: 120px;
    }
    #paragraph{
        font-size: 15px;
        color: #EE2F5B;
        font-family: 'Clash Display', sans-serif;
        display: flex;
        gap: 8px;
        margin-top: 60%;
        
    }.exhibit-slide {
        margin-top: 10px;
    }
    .exhibit{
        font-family: 'Clash Display', s sans-serif;
    }
    .about-us{
        color: white;
        font-size: 14px;
        font-family: 'Clash Display', s sans-serif;
        margin-top: 10px;

    }
    .getnow a.get::after,.get::before{
        content: "GET NOW";
        position: absolute;
        align-items: center;
        justify-content: center;
        color: #ffff;
        left: 0;
        width: 100%;
        line-height:50px;
        text-transform: capitalize;
        transition: all 400ms;
        background-color: transparent;
    }
    .getnow .get::before{
        content: "GET NOW";
        left: 190px;
        background-color: #EE2F5B;
        width: 100%;
    }
    .getnow a.get:hover::after{
        left:-170px;
        background: linear-gradient(to right #fb4c37, #df2771);
        
    }
    .getnow .get:hover::before{
        left: 0;
    }
    .getnow a{
        display: flex;
        overflow: hidden;
        width: 160px;
        height: 42px;
        position: relative;
    }
    .getnow{
        height: 50px;
        width: 57%;
        display: flex;
        overflow: hidden;
        border: 1px solid white;
        position: relative;
        padding: 30px;
        align-items: center;
        justify-content: center;
        background-color: transparent;
       
        
    }
    #speak{
        color: white;
        font-size: 40px;
        font-family: 'clash Display', sans-serif;
        text-align: center;
    }
    #phase{
        color: white;
        text-align: center;
    
    }
    #speaker-img:hover {
        filter: brightness(60%);
        width: 101%;
    }
    #speakers{
        color: #EE2F5B;
        font-family: 'clash Display', sans-serif;
        text-align: center;
        font-size: 20px;
        justify-content: space-between;
    }
    
    .border-pink{
    border: 1px solid #df2771;
    height: 10%;
    margin-top: -1px;
    }
    #butt{
        margin-top: 25%;
        height: 45px;
        width: 70%;
        border-radius: 20px;
        background-color: transparent;
        color: white;
        border-color: white;
        bottom: 10px;
        margin-bottom: 18px;
    }
    
#buy-my{
    margin-top: 45%;
    padding-bottom: 10px;
    height: 45px;
    width: 70%;
    border-radius: 20px;
    background-color: transparent;
    color: white;
    border-color: white;
    margin-bottom: 18px;
}
}